    body {
      background-color: #000;
      font-family: arial;
    }

    #accion1 {
      padding: 22px;
      max-width: 720px;
      margin: auto;
      background-color: #444;
      text-align: center;
    }

    .bloque {
      border-radius: 12px;
      padding: 6px;
      text-align: center;
    }

    .dborder {
      background: none;
      border: 4px solid #fff;
      max-width: 620px;
      padding: 2em;
      border-radius: 12px;
      position: relative;
      margin: 0 auto;
    }

    .dborder:before {
      background: none;
      border: 4px solid #fff;
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      pointer-events: none;
    }

